{% extends 'base.html' %}
{% block title %}E-ticket - Galaxy Cinema{% endblock %}
{% block content %}
    <style>
    .title-h3{
        text-align: center;
        margin-bottom: 35px;
    }
    .movie-list {
      padding: 30px 20px;
    }

    .movie-item {
      background: #fff;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      margin: 25px 170px;
      overflow: hidden;
      display: flex;
      align-items: flex-start;
      padding: 25px;
      gap: 20px;
    }

    .movie-poster {
      width: 180px;
      height: 240px;
      background-size: cover;
      background-position: center;
      border-radius: 10px;
    }

    .movie-info {
      flex: 1;
    }

    .movie-title, .booking-total-price {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #333;
    }
    .booking-total-price {
        text-align: right;
    }
    .movie-genre {
      font-size: 16px;
      color: #888;
      margin-bottom: 15px;
    }
    .screening-time, .screening-date, .booking-time {
      font-size: 16px;
      color: #333;
      margin-bottom: 15px;
    }

  </style>
    <div style="padding: 100px;text-align: center">
        <div class="movie-item" style="text-align: left" onclick="window.location='/e-ticket?booking_id=${booking.id}'">
            <div class="movie-info">
                <div class="movie-title">Mã vé: {{ booking.id }}</div>
                <div class="movie-title">{{ movie.title }}</div>
                <div class="screening-time">Suất: {{ screening.screening_time }}</div>
                <div class="screening-date">Ngày: {{ screening.screening_date }}</div>
                {% for seat in seats %}
                <div class="booking-time">Ghế: {{ seat.seat_number }} || Giá vé: {{ seat.ticket_price }}</div>
                {% endfor %}
                <div class="booking-time">Thời gian đặt vé: {{ booking.booking_time }}</div>
                <div class="booking-total-price">Đã thanh toán: {{ booking.total_price }}0đ</div>
            </div>
        </div>
        <h2>E-Ticket</h2>
        <div class="ticket-body">
        <div class="ticket">
          <div class="holes-top"></div>
          <div class="title">
            <p class="cinema" style="margin-bottom: 10px;">Galaxy Cinema</p>
            <p class="movie-title">{{ movie.title }}</p>
          </div>
          <div class="poster" style="height: 300px;background-size: cover;
          background-position: center;background-image: url('{{ movie.image_ava }}')"></div>
          <div class="info">
            <table class="info-table ticket-table">
              <tr>
                <th>Phòng chiếu</th>
                <th>Ghế</th>
              </tr>
              <tr>
                <td class="bigger room">{{ room.name }}</td>
                <td class="bigger seat_number">
                    {% for seat in seats %}
                        {{ seat.seat_number }},
                    {% endfor %}
                </td>
              </tr>
            </table>
            <table class="info-table ticket-table">
              <tr>
                <th>Ngày chiếu</th>
                <th>Thời gian</th>
              </tr>
              <tr>
                <td class="screening_date">{{ screening.screening_date }}</td>
                <td class="screening_time">{{ screening.screening_time }}</td>
              </tr>
            </table>
          </div>
          <div class="holes-lower"></div>
          <div class="serial">
            <table class="barcode ticket-table">
              <tr>
                <td style="background-color:black;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
                <td style="background-color:black;"></td>
                <td style="background-color:white;"></td>
              </tr>
            </table>
            <table class="numbers ticket-table">
              <tr>
                <td>9</td>
                <td>1</td>
                <td>7</td>
                <td>3</td>
                <td>7</td>
                <td>5</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>5</td>
                <td>4</td>
                <td>1</td>
                <td>4</td>
                <td>7</td>
                <td>8</td>
                <td>7</td>
                <td>3</td>
                <td>4</td>
                <td>1</td>
                <td>4</td>
                <td>5</td>
                <td>2</td>
              </tr>
            </table>
          </div>
        </div>
        </div>
        <input type="button" name="previous-step" class="home-page-btn" value="Quay lại"
        onclick="window.history.back()" />
    </div>
{% endblock %}